<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.windriver.ide.launch.embeddedlinux.tmRunProcess">
<stringAttribute key="com.windriver.ide.launch.processArgs" value=""/>
<stringAttribute key="com.windriver.ide.launch.processBreakAtSymbol" value="main"/>
<booleanAttribute key="com.windriver.ide.launch.processBreakOnEntry" value="true"/>
<stringAttribute key="com.windriver.ide.launch.processEnv" value="CWD=C:/Users/shadow/projects/FIRST/2009/frc980/trunk/workspace/VisionServoDemo/PPC603gnu/VisionServoDemo/Debug LD_BIND_NOW=1"/>
<stringAttribute key="com.windriver.ide.launch.processExecPath" value="C:/Users/shadow/projects/FIRST/2009/frc980/trunk/workspace/VisionServoDemo/PPC603gnu/VisionServoDemo/Debug/VisionServoDemo.out"/>
<mapAttribute key="com.windriver.ide.launch.processOptions"/>
<stringAttribute key="com.windriver.ide.launch.processWorkingDir" value="C:/Users/shadow/projects/FIRST/2009/frc980/trunk/workspace/VisionServoDemo/PPC603gnu/VisionServoDemo/Debug"/>
<listAttribute key="com.windriver.ide.launch.projectsForBuild">
<listEntry value="VisionServoDemo"/>
</listAttribute>
</launchConfiguration>
